<div id="locaterInnerdiv">
    <div id='assigntestsdiv' style='margin:1em'>
        <h2 style='margin-top:1em;'>Locater Tool&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a id='linkforstudents' href='/locatertool/testtaker' target='_blank' style='vertical-align:middle;font-size:0.5em;'>Link for Students</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div id="refreshdiv" class="pseudolink" style='vertical-align:middle;font-size:0.5em;display:inline-block;'>Refresh Test Data</div>
            <div id='newtablink' class="pseudolink" style='text-align:right;font-size:0.5em;height:0;' onclick='window.open("/locatertool", "_blank");'>Open in new tab &#8599;</div>
        </h2>
    </div>
    <div id='assignedtests'>
    </div>
    <div id="assignRosterToTest">
    </div>
</div>