<div id='restoreInnerDiv' style='margin:1em;margin-top:2em;'>
    <span class='pseudolink' id='restoreremoved'>Restore removed students and rosters</span>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>