<div id='pageheader' style='height:100px;background-color:#425363;'>
    <img id='logoimg' src='/assets/images/icons/elmfullwhitetext.svg' style='height:70px;margin:15px;'>
</div>

<div id='pseudonymdiv' style='margin:1em;margin-left:3em;text-align:center;'>
    <div class='loginform' style='margin-top:25px;padding:25px;text-align:left;display:inline-block;vertical-align:top;'>
        <span style='color:#425363'>If you do not know your username or password, ask your teacher!</span>
        <br>
        <br>
        <input type='text' style='font-size:1.2em;' placeholder='Username' id='pseudonyminput' oninput='this.style.backgroundColor=""; testTakerUtil.parsestring();'>
        <br>
        <input type='text' style='font-size:1.2em;' placeholder='Password' id='testpassword' value='' oninput='this.style.backgroundColor="";'>
        <br>
        <button style='font-size:1.2em;' id='pseudonymsubmitbutton'>Start</button>
        <br>
        <br>
        <br>
        <br>
    </div>
    <div style='margin-top:25px;padding:25px;text-align:left;display:inline-block;vertical-align:top;'>
        <table style='background-color:#FFFFFF;width:100%;margin:0;'>
            <tr>
                <th colspan='6' style='text-align:center;background:#788D90;color:#FFFFFF;'>Username Word Bank</th>
            </tr>
            <tr>
                <td class='wordtd' id='acorn'>
                    <img src='/assets/images/psuedonym/acorn.jpg'>
                    <br>acorn</td>
                <td class='wordtd' id='apple'>
                    <img src='/assets/images/psuedonym/apple.png'>
                    <br>apple</td>
                <td class='wordtd' id='bee'>
                    <img src='/assets/images/psuedonym/bee.png'>
                    <br>bee</td>
                <td class='wordtd' id='bird'>
                    <img src='/assets/images/psuedonym/bird.jpg'>
                    <br>bird</td>
                <td class='wordtd' id='boat'>
                    <img src='/assets/images/psuedonym/boat.jpg'>
                    <br>boat</td>
                <td class='wordtd' id='book'>
                    <img src='/assets/images/psuedonym/book.png'>
                    <br>book</td>
            </tr>
            <tr>
                <td class='wordtd' id='bus'>
                    <img src='/assets/images/psuedonym/bus.png'>
                    <br>bus</td>
                <td class='wordtd' id='candy'>
                    <img src='/assets/images/psuedonym/candy.png'>
                    <br>candy</td>
                <td class='wordtd' id='car'>
                    <img src='/assets/images/psuedonym/car.png'>
                    <br>car</td>
                <td class='wordtd' id='cave'>
                    <img src='/assets/images/psuedonym/cave.png'>
                    <br>cave</td>
                <td class='wordtd' id='clock'>
                    <img src='/assets/images/psuedonym/clock.png'>
                    <br>clock</td>
                <td class='wordtd' id='coin'>
                    <img src='/assets/images/psuedonym/coin.png'>
                    <br>coin</td>
            </tr>
            <tr>
                <td class='wordtd' id='comet'>
                    <img src='/assets/images/psuedonym/comet.png'>
                    <br>comet</td>
                <td class='wordtd' id='earth'>
                    <img src='/assets/images/psuedonym/earth.png'>
                    <br>earth</td>
                <td class='wordtd' id='fence'>
                    <img src='/assets/images/psuedonym/fence.png'>
                    <br>fence</td>
                <td class='wordtd' id='fish'>
                    <img src='/assets/images/psuedonym/fish.png'>
                    <br>fish</td>
                <td class='wordtd' id='fox'>
                    <img src='/assets/images/psuedonym/fox.png'>
                    <br>fox</td>
                <td class='wordtd' id='frog'>
                    <img src='/assets/images/psuedonym/frog.png'>
                    <br>frog</td>
            </tr>
            <tr>
                <td class='wordtd' id='horse'>
                    <img src='/assets/images/psuedonym/horse.png'>
                    <br>horse</td>
                <td class='wordtd' id='key'>
                    <img src='/assets/images/psuedonym/key.png'>
                    <br>key</td>
                <td class='wordtd' id='kite'>
                    <img src='/assets/images/psuedonym/kite.png'>
                    <br>kite</td>
                <td class='wordtd' id='lake'>
                    <img src='/assets/images/psuedonym/lake.png'>
                    <br>lake</td>
                <td class='wordtd' id='lamp'>
                    <img src='/assets/images/psuedonym/lamp.png'>
                    <br>lamp</td>
                <td class='wordtd' id='moose'>
                    <img src='/assets/images/psuedonym/moose.jpg'>
                    <br>moose</td>
            </tr>
            <tr>
                <td class='wordtd' id='phone'>
                    <img src='/assets/images/psuedonym/phone.png'>
                    <br>phone</td>
                <td class='wordtd' id='road'>
                    <img src='/assets/images/psuedonym/road.png'>
                    <br>road</td>
                <td class='wordtd' id='rock'>
                    <img src='/assets/images/psuedonym/rock.png'>
                    <br>rock</td>
                <td class='wordtd' id='sand'>
                    <img src='/assets/images/psuedonym/sand.jpg'>
                    <br>sand</td>
                <td class='wordtd' id='snow'>
                    <img src='/assets/images/psuedonym/snow.jpg'>
                    <br>snow</td>
                <td class='wordtd' id='sun'>
                    <img src='/assets/images/psuedonym/sun.png'>
                    <br>sun</td>
            </tr>
            <tr>
                <td class='wordtd' id='tent'>
                    <img src='/assets/images/psuedonym/tent.png'>
                    <br>tent</td>
                <td class='wordtd' id='tower'>
                    <img src='/assets/images/psuedonym/tower.jpg'>
                    <br>tower</td>
                <td class='wordtd' id='tree'>
                    <img src='/assets/images/psuedonym/tree.png'>
                    <br>tree</td>
                <td class='wordtd' id='tulip'>
                    <img src='/assets/images/psuedonym/tulip.jpg'>
                    <br>tulip</td>
                <td class='wordtd' id='wheat'>
                    <img src='/assets/images/psuedonym/wheat.png'>
                    <br>wheat</td>
                <td class='wordtd' id='wheel'>
                    <img src='/assets/images/psuedonym/wheel.png'>
                    <br>wheel</td>
            </tr>
        </table>
    </div>
</div>

<div id='testform' class='testwrapper' style='margin:15px;display:none;font-size:1em;background-color:#FFFFFF;'></div>

<div id='submitbuttondiv' style='margin:1em;display:none;'>
    <button id='testsubmitbutton' style='margin-top:20px;margin-right:40px;'>submit</button>
    <button id='viewresult' style='margin-top:20px;margin-right:40px;display:none;'>submit</button>
    <button id='zoomoutbutton' style='margin-top:20px;'>zoom out -</button>
    <button id='zoomoriginalbutton' disabled style='margin-top:20px;'>zoom original</button>
    <button id='zoominbutton' style='margin-top:20px;'>zoom in +</button>
    <button id='leftbutton' style='margin-top:-10px;position:absolute;width:45px;text-align:center;'>&lt;</button>
    <button id='rightbutton' style='margin-top:-10px;position:absolute;width:45px;text-align:center;'>&gt;</button>
</div>