<!doctype html>
<html>

<head>
    <title>Locater Login</title>
    <style>
        body {
            padding-top: 80px;
        }
    </style>
    <link rel="stylesheet" href="/assets/css/app.css?t=1528210880608">
</head>

<body>
    <div class="container">
        <div id="loginDiv">
            <h1 style="text-align:center">Login</h1>
                            <form action="/locatertool/login" method="post">
                                <button class="loginButton" type="submit" class="btn">Login</button>
                            </form>
                            <br>
                            <br>
                            <form action="/locatertool/testbuilder" method="post" style="text-align:center;">
                                <button class="buildtest" type="submit" class="btn">Build Test</button>
                            </form>
                            <br>
                            <br>
                            <form action="/locatertool/testtaker" method="get" style="text-align:center;">
                                <button class="testtaker" type="submit" class="btn">Take a Test</button>
                            </form>
                            <hr>
        </div>
    </div>
</body>

</html>