<html>

<head>
    <title>Test Taker</title>
    <link rel="icon" type="image/png" href="/assets/images/icons/elm.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/testtaker.css?t=1528210880622">
</head>

<body id="testtakerid" class="TestTaker" style='background-color:#B8CDD0;overflow:auto;'>
    <div id='studentLogin'></div>
    <div id='testTaker'></div>
    <div id='view-report' style="display:none"></div>
    <!-- <script src="/assets/js/bundles/testtaker-bundle-min.js?t=1528210880622"></script> -->
    <script src="/assets/js/external/jquery.min.js?t=1527862768064"></script>
    <script src="/assets/js/external/jquery-ui.min.js?t=1527862768064"></script>
    <script src="/assets/js/external/can.jquery-all.js?t=1527862768064"></script>
    <script src="/assets/js/external/modernizr-2.6.2.js?t=1527862768064"></script>
    <script src="/assets/js/util/uiCommon.js?t=1527862768064"></script>
    <script src="/assets/js/util/testTakerUtil.js?t=1527862768064"></script>
    <script src="/assets/js/controller/testTakerController.js?t=1527862768064"></script>
    <script src="/assets/js/model/testTakerModel.js?t=1527862768064"></script>
    <script>var testTakerControl = new testTakerController('body', {});</script>
</body>

</html>