<!DOCTYPE html>
<html>

<head>
    <title>Test Builder</title>
    <link rel="stylesheet" href="/assets/css/app.css?t=1528210880615">
    <link rel="stylesheet" href="/assets/css/pikaday.css?t=1528210880615">
    <link rel="stylesheet" href="/assets/css/testbuilder.css?t=1528210880615">
</head>

<body class="testBuilder">
    <div id='savedTests'></div>
    <div id='createTest'></div>
    <!-- <script src="/assets/js/bundles/testbuilder-bundle-min.js?t=1528210880615"></script> -->
    <script src="/assets/js/external/jquery.min.js?t=1527862768060"></script>
    <script src="/assets/js/external/jquery-ui.min.js?t=1527862768060"></script>
    <script src="/assets/js/external/can.jquery-all.js?t=1527862768060"></script>
    <script src="/assets/js/external/modernizr-2.6.2.js?t=1527862768060"></script>
    <script src="/assets/js/external/mathjax/MathJax.js?config=AM_HTMLorMML-full&delayStartupUntil=configured"></script>
    <script src="/assets/js/controller/testController.js?t=1527862768060"></script>
    <script src="/assets/js/model/testModel.js?t=1527862768060"></script>
    <script src="/assets/js/util/testUtil.js?t=1527862768060"></script>
    <script src="/assets/js/util/uiCommon.js?t=1527862768060"></script>
    <script src="/assets/js/external/tinymce/tinymce.min.js?t=1527862768060"></script>

    <script>var testControl = new testController('body', {});</script>
</body>

</html>